{% extends './base.html' %}

{% block title %} Cursos {% endblock %}

{% block body %}
    <div class="pt-8">
        <h1 class="font-lg flex justify-center text-3xl font-bold">Cursos</h1>
    </div>
    <section class="gap-6 m-3">
        <a 
        href="{% url 'crear_curso' %}"
        class="border border-black px-2 rounded-lg bg-green-600"
        >Crear nuevo curso</a>
    </section>

    <section class="grid grid-cols-1 md:grid-cols-3 gap-6 m-3">
        
        {% for curso in cursos %}
            {% if curso.activo %}
                <article class="bg-emerald-500 border rounded-lg">
                    <div class="p-5">
                        <h5 class="font-semibold flex justify-center"> {{ curso.nombre }} </h5>
                        <br>
                        <p>Duracion: {{ curso.duracion }} semanas</p>
                        <br>
                        <p>Precio: {{curso.precio}}</p>
                        <br>
                        <p>Nivel: {{curso.nivel}}</p>
                        <br>
                        <p>Modalidad: {{curso.modalidad}}</p>
                        <br>
                        <a
                        href="{% url 'editar_curso' curso.id %}"
                        class="border border-black px-2 rounded-lg bg-amber-500">
                        Editar Curso</a>
                        |
                        <a 
                        href="{% url 'eliminar_curso' curso.id %}"
                        class="border border-black px-2 rounded-lg bg-red-600">
                        Eliminar Curso</a>
                    </div>
                    <a href="#" class="bg-blue-600 text-white p-2 rounded flex justify-top">Ver más</a>
                </article>
            {% else %}
                <article class="bg-zinc-400 border rounded-lg">
                    <div class="p-5">
                        <h5 class="font-semibold flex justify-center"> {{ curso.nombre }} (Sin cupos) </h5>
                        <br>
                        <p>Duracion: {{ curso.duracion }} semanas</p>
                        <br>
                        <p>Precio: {{curso.precio}}</p>
                        <br>
                        <p>Nivel: {{curso.nivel}}</p>
                        <br>
                        <p>Modalidad: {{curso.modalidad}}</p>
                        <br>
                        <a
                        href="{% url 'editar_curso' curso.id %}"
                        class="border border-black px-2 rounded-lg bg-amber-500">
                        Editar Curso</a>
                    </div>
                    <a href="#" class="bg-zinc-800 text-white p-2 rounded flex justify-top">Ver más</a>
                </article>
            {% endif %}
        {% endfor %}
    
    </section>
    
    <ul>
        
            
        
    </ul>
{% endblock %}